In [ ]:
import pandas as pd
df = pd.read_csv('/pokemon_data.csv')
# print(df)
# print(df.columns)
# print(df['Name'])
# print(df.Name)
# print(df.Name,5)
# print(df.head)
# print(df.head)
#df.to_csv('modified.csv',index = False)
#df.to_excel('modofied.xlsx',index = False)
# df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') &(df['HP']>70) & (df['Speed']>75)]
# df.to_excel('modofied.xlsx',index = False)

# df = pd.read_csv('modified.csv')
# df['count'] = 1
# df.groupby(['Type 1']).count()['count']
df.groupby(['Type 1'],['Type2'].count()['count'])

In [38]:
import pandas as pd
df = pd.read_csv('/content/pokemon_data.csv')
# print(df)
# print(df.columns)
# print(df.Name)
# print(df['Name'])
print(df.Name,5)
print(df.head)
df.to_csv('modified.csv',index = False)
print(df.Attack)
df.loc[(df['Type 1'] == 'Grass') &(df['Speed']>60)]
df.loc[(df['Type 2'] == 'Poison') & (df['Type 2']== 'Flying')]
df.loc[(df['Speed']>100) & (df['Defense']>=70)]
df.loc[(df['Legendary']=='False')]

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object 5
<bound method NDFrame.head of        #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 12 columns]>
0       49
1       62
2       82
3      100
4       52
      ...
795    100
796    160
797    110
798    160
799    110
Name: Attack, Length: 800, dtype: int64

Empty DataFrame
Columns: [#, Name, Type 1, Type 2, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
Index: []

In [25]:
import pandas as pd

var = {"day1":110,"day2":200,"day3":250}

# Fix the function call
series = pd.Series(var)

# Print the series
print(series)

day1    110
day2    200
day3    250
dtype: int64